.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  border: 1px solid #FFDDBF;
  background-color: #FFF1E5;
  border-radius: 25px;
  margin-top: calc(-1 * var(--bs-gutter-y)); 
  margin-right: calc(-.5 * var(--bs-gutter-x)); 
  margin-left: calc(-.5 * var(--bs-gutter-x));

  row-gap: 15px;
}

.cards > ul > li {
  width: 25%;
  display: inline;

}

.cards .cards-card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
 
}

.cards .cards-card-image {
  max-width: 100%;
  float: left;
 
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}


/* Responsive media queries */

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }
}