div.banner.block{
    max-width: 100%;
    background-color: #F7FAFC;
}

div.banner-wrapper{
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #F7FAFC;
    border-top: 1px solid rgb(197,214,224);
    text-align: center;
    padding-bottom: 3em;
    font-family: "MierB03", "Helvetica", "Arial", sans-serif;
}

div.banner-wrapper > div > div.content.subText > div > div > a{
    text-decoration:underline;
text-decoration-style: dotted;
color: #000;
}

div.banner-wrapper > div > div.content.subText > div > div{
    padding: 25px;
}

main > div.section.banner-container > div > div > div.content.subText >  div:nth-child(3) > div h4{
    display: inline;
}

div.banner-wrapper > div > div.content.subText > div > div{
    font-size: 1.125rem;
    line-height: 1.875rem;
}

main > div.section.banner-container > div > div > div.content.subText > div:nth-child(3) > div> h4.bannerBtn{
 
    border-radius: 35px;
    padding: 1.25em 2.25em 1.25em 3.25em;
    font-size: 20px;
    font-family: "MierB03", "Helvetica", "Arial", sans-serif;
    background: #0d6efd url('/icons/Windows_icon_logo.png') no-repeat left;
    background-size: 35px 35px;
    background-position: left 25px top 50%;
}

main > div.section.banner-container > div > div > div.content.subText > div:nth-child(3) > div> h4.bannerBtn a{
    color: #ffffff;
}

main > div.section.banner-container > div > div > div.content.subText > div:nth-child(3) > div> h4.bannerBtn a:hover{
    text-decoration: none;
}

main > div.section.banner-container > div > div > div.content.subText > div:nth-child(3) > div> h4.premiumBtn{
    
    border-radius: 35px;
    padding: 1.25em 1.25em 1.25em 1.25em;
    font-size: 20px;
    font-family: "MierB03", "Helvetica", "Arial", sans-serif;
 /* background-color: #FFBF00;*/
  background: linear-gradient(to bottom right, #FFBF00 0%, #FFBF00 50%, #FF7800 100%); 
  padding: 1.25em 2.25em;
  color: #000;
  transition: all .2s ease-in-out; 

}

main > div.section.banner-container > div > div > div.content.subText > div:nth-child(3) > div> h4.premiumBtn a{
    
    font-style: normal;
    color: #000;
    font-weight: bold;
}

main > div.section.banner-container > div > div > div.content.subText > div:nth-child(3) > div> h4.premiumBtn a:hover{
    text-decoration: none;
    transform: scale(1.1); 
}
/*
main > div.section.banner-container > div > div > div.content.subText > div:nth-child(3) > div> h4.premiumBtn em{
    font-style: normal;
    color: #000;
}

main > div.section.banner-container > div > div > div.content.subText >  div:nth-child(3) > div h4 a{
    color: white;
    text-decoration: none;
   
}
*/
main > div.section.banner-container > div > div > div.content.subText >  div:nth-child(3) > div h4:hover{
    box-shadow: 0px 8px 32px -16px rgba(0,112,246,0.32),0px 16px 32px -16px rgba(7,29,43,0.32);
}


div.banner-wrapper > div > div.content.subText > div > div > h5 {
    padding-top: 1em;
    font-size: 16px;
    font-weight: normal;
    
}

div.banner-wrapper > div > div.content.subText > div > div > h5 > a{
    color: #000;
    text-decoration: underline;
    text-decoration-style:solid;
    font-weight: bold;
}
/*

background: url('\icons\Windows_icon_logo.png') no-repeat;




div.banner-wrapper > div > div.content.subText > div > div > h4> a{
 
color: white;
background-color: #0070F6;
border-radius: 25px;
padding: 0.65em 1.50em 0.65em 1.50em;
font-size: 0.75em;
font-family: "MierB03", "Helvetica", "Arial", sans-serif;
text-decoration: none;
}

.main > div.section.banner-container > div > div > div.content.subText > div  {
   display: inline;
   background-color: antiquewhite;
}


div.banner-wrapper > div > div.content.subText > div > div > h4> em > a{
background-color: #FFBF00;
color: #071D2B;
border-radius: 25px;
padding: 0.65em 1.50em 0.65em 1.50em;
font-size: 0.75em;
font-family: "MierB03", "Helvetica", "Arial", sans-serif;
text-decoration: none;
font-style: normal;
}


*/